# Objects and Data Structures Assessment Test

## Test your knowledge. 

**Answer the following questions**

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers: it's numeric data type which used to represent any type of number (int, Float or Complex number) and boolean is asubtype of int
* Int can by any length while float has only 15 as deciaml places
    
Strings: it's used to store text information furthermore String as adata type is immutable  

Lists:Lists used to store collections of homogeneous items regdaless the data type and it's mutable 

Tuples:it's like List but it's immutable and used to keep data that wouldn't changed

Dictionaries: it's amapping object which link ahash value to an object, it's immutable, it caontain Key and value

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [ ]:
print(100 + 0.25)
print(100.5 - 0.25)
print((20*5)+0.25)
print(200/2+1-.05)

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)  =  44
    
    What is the value of the expression 4 * 6 + 5    = 29
    
    What is the value of the expression 4 + 6 * 5    = 34

In [ ]:
print(4 * (6 + 5))
print(4 * 6 + 5 )
print(4 + 6 * 5)

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>
<B>Float</B>

What would you use to find a numberâ€™s square root, as well as its square?

In [ ]:
# Square root:
import math
x = 25**2
print('the Square root of {} is {}'.format(x,math.sqrt(x)))

In [ ]:
# Square:
x = 25**2
print(x)
x = pow(x,2)
print(x)

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [3]:
s = 'hello'
# Print out 'e' using indexing
l = input("Please enter the letter you search for: ")
if l in s:
    print(s[s.find(l)])
else:
    print(f'Letter {l} not existed at String {s}')

Please enter the letter you search for: KK
Letter KK not existed at String hello

Reverse the string 'hello' using slicing:

In [4]:
s ='hello'
# Reverse the string using slicing
s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [9]:
s ='hello'
# Print out the 'o'
s[-1:]
# Method 1:

'o'

In [11]:
# Method 2:
s[len(s)-1:]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [19]:
# Method 1:
li = [0,0,0]
print(li)

[0, 0, 0]

In [20]:
# Method 2:
li = [0 for x in range(10)]
print(li)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [22]:
list3 = [1,2,[3,4,'hello']]

list3[2][2] = 'goodbye'
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [30]:
list4 = [5,3,4,6,1]

print(sorted(list4))
print(list4)
print(sorted(list4,reverse=True))

[1, 3, 4, 5, 6]
[5, 3, 4, 6, 1]
[6, 5, 4, 3, 1]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [31]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [33]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [38]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [42]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

In [52]:
di = {'mohamed':'10','Ali':'9','Ahmed':'15','alaa':'2','Fathi':'32'}

In [53]:
di

{'mohamed': '10', 'Ali': '9', 'Ahmed': '15', 'alaa': '2', 'Fathi': '32'}

In [65]:
print(sorted(di.items()))

[('Ahmed', '15'), ('Ali', '9'), ('Fathi', '32'), ('alaa', '2'), ('mohamed', '10')]

In [66]:
dil=list(di)
print(dil)
print(type(dil))

['mohamed', 'Ali', 'Ahmed', 'alaa', 'Fathi']
<class 'list'>

Can you sort a dictionary? Why or why not?<br><br>
<b>Yes</b>

## Tuples

What is the major difference between tuples and lists?<br><br>
List mutable
tuples not

How do you create a tuple?<br><br>
<b>add data between ()</b>

## Sets

What is unique about a set?<br><br>
<b>it's unordered and can't access by index</b>

Use a set to find the unique values of the list below:

In [86]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

us = set (list5)

print(us)

{1, 2, 33, 4, 3, 11, 22}

In [88]:
{i:list5.count(i) for i in us}

{1: 1, 2: 3, 33: 1, 4: 2, 3: 2, 11: 1, 22: 1}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [89]:
# Answer before running cell
2 > 3
# Flase

False

In [91]:
# Answer before running cell
3 <= 2
# Flase

False

In [92]:
# Answer before running cell
3 == 2.0
# Flase

False

In [93]:
# Answer before running cell
3.0 == 3
# True

True

In [94]:
# Answer before running cell
4**0.5 != 2
# Flase

False

Final Question: What is the boolean output of the cell block below?

In [96]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']
# Flase

False

# Great Work!